*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 50px;
    color: #fff;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 0 10000px inset;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #bdc3c7;
}

nav ul li .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #EEE;
    padding: 0;
    margin-top: 10px;
}

nav ul li:hover .dropdown-menu {
    display: block;
}

h1 {
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    background-color: #ecf0f1; /* Farbe der Kachel */
    padding: 20px; /* Abstand zwischen Bild und Kachelrand */
    border: 1px solid #ccc; /* Rand um die Kachel */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Schatten für Tiefe */
    max-width: 350px; /* Maximale Breite der Kachel */
    margin: 20px auto; /* Zentriert die Kachel und gibt ihr oberen und unteren Abstand */
}

.logo img {
    max-width: 100%; /* Bild an Kachelgrösse anpassen */
    height: auto;
}


.main-wrapper {
    max-width: 650px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 50px;
}

form div {
    padding: 15px 0;
}

form div label {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

form div input {
    height: 50px;
    width: 100%;
    font-size: 18px;
    padding: 0 10px;
}

form div button {
    cursor: pointer;
    padding: 10px 30px;
    font-size: 18px;
}

.no-acc-register {
    text-align: center;
    margin-top: 50px;
}

.no-acc-register button {
    padding: 15px;
    font-size: 18px;
}

.custom-modal {
    display: none;
    background-color: black;
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 1000px 1000px;
    max-width: 650px;
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
}

.custom-modal button#closeModal {
    height: 20px;
    width: 20px;
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 30px;
}

/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {}

body {
    font-family: sans-serif;
    padding: 50px;
    color: #fff;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 0 10000px inset;
}
img{
    width: 100%;
    max-width: 300px;
}

label {}

h1 {
    text-align: center;
    margin-bottom: 100px;
}


h2 {
    margin-bottom: 15px;
}

.logo {
    text-align: center;
    margin-bottom: 50px;
}

.main-wrapper {
    max-width: 650px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 50px;
}

button {
    cursor: pointer;
}

form div {
    padding: 15px 0;
}

form div label {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

form div input {
    height: 50px;
    width: 100%;
    font-size: 18px;
    padding: 0 10px;
}

form div button {
    cursor: pointer;
    padding: 10px 30px;
    font-size: 18px;
}

form ul {
    list-style: none;
}

form ul li {
    color: red;
}

.no-acc-register {
    text-align: center;
    margin-top: 50px;
}

.no-acc-register button {
    padding: 15px;
    font-size: 18px;
}

.no-acc-register p {
    font-size: 22px;
    margin-bottom: 15px;
}

.custom-modal {
    display: none;
    background-color: black;
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 1000px 1000px;
    max-width: 650px;
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
}

.custom-modal button#closeModal {
    height: 20px;
    width: 20px;
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 30px;
}*/